/* Soluzione qui */

.recipe-video:first-child img {
    width:100%
}

@media screen and (min-width: 728px) {
    #topbar{
        justify-content: flex-start;
    }    

    .container{
        padding: 20px;
    }
}