/* Soluzione qui */

.recipe-video img {
    width:100%
}

/* Tablet 728px */


@media screen and (min-width: 728px) {
    #topbar{
        justify-content: flex-start;
    }    

    .container{
        padding: 20px;
    }

    .recipe-origin{
        display: inline-block;
    }

    .recipe-name{
        font-size: 40px;
    }

    .quick-notes ul{
        display: grid;
        grid: auto-flow dense / 29% 40% 1fr;
    }

    .social-networks button{
        width: 20%;
        font-size: 155%;
    }

    .ads{
        display: flex;
    }

    .presentation img{
        float: left;
        margin-right: 15px;
    }
}

/* Desktop 992px */

@media screen and (min-width: 992px){
    .recipe-name{
        font-size: 50px;
    }

    .recipe-video{
        height: 100%;
    }

    .quick-notes ul{
        display: block;
    }
}